body {
    font-family: Arial, sans-serif;
    padding: 20px;
    background-color: #2a2a2a;
  }
  
  h1 {
    margin-bottom: 20px;
    color: #fff;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
  }
  
  th, td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: center;
    color: #fff;
  }
  
  .btn {
    padding: 10px 15px;
    background-color: #4CAF50;
    color: white;
    border: none;
    text-decoration: none;
    border-radius: 5px;
    margin-right: 10px;
    cursor: pointer;
  }
  
  .cart-buttons {
    margin-top: 20px;
  }
  